.content-layout{
    margin: 4rem;
}

.buttonSection{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.dashboardHeader{
    font-size: 25px;
     color: #5F6368;
}
.filterBar{
    margin-bottom: 1.5rem;

}
