select{
    color: #5F6368;
    background-color: #EAE9EF;
    margin-right: 1rem; /*Midlertidig space mellom knappene */
    border-radius: 10px;
    border: 1px solid;
    padding: 1rem;
    width: 150px;
}
.searchField{
    height: 100%;
    width: 300px;
}